@font-face {
  font-family: "Qanelas";
  src: url("../fonts/Qanelas-Bold.eot");
  src: local("Qanelas Bold"), local("Qanelas-Bold"), url("../fonts/Qanelas-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Qanelas-Bold.woff") format("woff"), url("../fonts/Qanelas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }

.btn--huge {
  font-size: 5.4vh;
  padding: 0em 0.3em;
  display: inline-flex;
  height: 1.9em;
  align-items: center;
  border-radius: 28px; }
  @media (orientation: portrait) {
    .btn--huge {
      font-size: 4.3vh;
      border-radius: 0.5em; } }

.btn--dashed {
  color: #fff;
  border: 5px dashed; }
  .btn--dashed.is-copied {
    color: var(--blue); }

.btn--blue {
  background: var(--blue);
  color: #fff; }
  .btn--blue:hover {
    background: var(--dark-blue); }
  .btn--blue:active {
    background: rgba(0, 1, 128, 0.6); }

.page__header {
  background: var(--black);
  position: relative;
  z-index: 10; }

.page__header--slim {
  height: 60px;
  padding-top: 13px;
  padding-bottom: 13px; }
  @media (orientation: portrait) {
    .page__header--slim {
      height: 80px;
      padding-top: 34px; } }

.w {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px; }

.cl-white {
  color: #fff; }

.claim-page {
  background: var(--orange);
  min-height: 100vh;
  position: relative;
  color: var(--dark-blue); }
  .claim-page h1 {
    color: #fff;
    font-size: 18.6vh;
    line-height: 0.85;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .claim-page p {
    margin-top: 0.7em;
    margin-bottom: 0.7em; }
  @media (orientation: portrait) {
    .claim-page h1 {
      font-size: 6.6vh;
      line-height: 1.1;
      margin-top: 0.75em; } }

.claim-page__content {
  font-size: 4.15vh; }
  .claim-page__content .w {
    position: relative;
    z-index: 5; }
  @media (orientation: portrait) {
    .claim-page__content {
      font-size: 2.85vh;
      line-height: 1; } }

.claim-page__buttons {
  display: flex;
  column-gap: 40px;
  width: 57%;
  margin-top: 6vh; }
  .claim-page__buttons .btn:last-child {
    flex-grow: 1; }
  @media (orientation: portrait) {
    .claim-page__buttons {
      flex-direction: column;
      width: 100%;
      margin-top: 2.7vh;
      row-gap: 2.4vh; } }

.swag {
  position: absolute; }
  .swag img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.swag--wand {
  top: 0;
  left: 42%;
  z-index: 0;
  height: 42vh; }
  @media (orientation: portrait) {
    .swag--wand {
      height: auto;
      width: 32vh;
      left: auto;
      right: 0;
      overflow: hidden;
      top: 38px; }
      .swag--wand img {
        transform: translateX(42%); } }

.swag--rabbit {
  bottom: 0;
  right: 0;
  height: 86vh;
  overflow: hidden; }
  .swag--rabbit img {
    transform: translateX(6%); }
  @media (orientation: portrait) {
    .swag--rabbit {
      height: auto;
      bottom: 0vh;
      width: 90%;
      margin: auto;
      left: 0; } }
  @media (orientation: portrait) and (max-width: 400px) {
    .swag--rabbit {
      width: 75%; } }
  @media (orientation: portrait) {
      .swag--rabbit img {
        transform: translateY(15vh); } }

.copy-content {
  display: inline-block;
  padding: 0 0.5em; }

:root {
  --black: #001b30;
  --orange: #ff7e37;
  --blue: #002fff;
  --dark-blue: #000180;
  font-family: Qanelas; }

*,
*:before,
*:after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
