@font-face {
  font-family: 'sfpro';
  src: url("../fonts/sfprotext.woff2") format("woff2"), url("../fonts/sfprotext.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: sfpro, sans-serif; }

.page {
  background: url(../images/bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.9rem;
  padding-top: 9rem; }
  @media (max-width: 991px) {
    .page {
      padding-top: 3rem;
      background-image: url(../images/bg-dark.jpg);
      color: #fff; } }

.page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 930px;
  padding-left: 25px;
  padding-right: 25px; }

a {
  color: #005bbb;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

.preheader {
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  position: relative; }
  @media (max-width: 991px) {
    .preheader {
      flex-direction: column-reverse;
      align-items: flex-end;
      text-align: right;
      font-size: 1.6rem;
      margin-bottom: 4rem; } }

.festivals-cta small {
  display: block; }
@media (max-width: 991px) {
  .festivals-cta {
    margin-top: 0.5rem; }
    .festivals-cta small {
      display: none; } }

.logo {
  text-align: center;
  margin-bottom: 5rem; }
  .logo img {
    width: 110px; }
  @media (max-width: 991px) {
    .logo {
      margin-bottom: 3rem; } }

main p {
  text-align: justify;
  text-align-last: left; }
main h1 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold; }

.cta {
  text-align: center;
  font-weight: bold; }

aside {
  margin-top: 6rem; }
  @media (max-width: 991px) {
    aside {
      margin-top: 2rem; } }

.festival-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 22%;
  max-width: 120px; }
  @media (max-width: 991px) {
    .festival-logo {
      left: 0;
      transform: none;
      top: 0;
      width: 25%;
      filter: invert(1); } }

.festival-logo img {
  max-width: 100%; }

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 991px) {
    .partners-list {
      align-items: center;
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: center;
      column-gap: 5%; } }

.partners-list li {
  width: 15%; }
  @media (max-width: 991px) {
    .partners-list li {
      width: 28%;
      text-align: center; }
      .partners-list li img {
        max-width: 90%; } }

.partners-list img {
  max-height: 12vmin;
  filter: brightness(0.1); }
  @media (max-width: 991px) {
    .partners-list img {
      filter: none; } }

footer {
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center; }
  @media (max-width: 991px) {
    footer {
      padding-top: 4rem; } }
  footer a {
    color: #fc0;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
