@font-face {
  font-family: "Qanelas";
  src: url("../fonts/Qanelas-Bold.eot");
  src: local("Qanelas Bold"), local("Qanelas-Bold"),
    url("../fonts/Qanelas-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Qanelas-Bold.woff") format("woff"),
    url("../fonts/Qanelas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
