$dots: url(../images/common/lp_element_1.svg);
$dotsC: url(../images/common/lp_element_2.svg);
$dotsCrt: url(../images/common/lp_element_2rt.svg);
$dotsCrb: url(../images/common/lp_element_2rb.svg);
$dotsClb: url(../images/common/lp_element_2lb.svg);

.buttons {
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.btn--huge {
  font-size: 5.4vh;
  padding: 0em 0.3em;
  display: inline-flex;
  height: 1.9em;
  align-items: center;
  border-radius: 28px;

  @media (orientation: portrait) {
    font-size: 4.3vh;
    border-radius: 0.5em;
  }
}
.btn--dashed {
  border-radius: 0;
  color: var(--blue);
  border: 0px dotted transparent;
  border-radius: 0;
  color: var(--blue);
  border: 0px dotted transparent;
  padding: 0 0.57em;
  filter: brightness(0) invert(1);
  background: url(../images/common/lp_element_2.svg) no-repeat left 0 top 0.02em/0.55em
      0.55em,
    url(../images/common/lp_element_2rt.svg) no-repeat right 0 top 0.02em/0.55em
      0.55em,
    url(../images/common/lp_element_2rb.svg) no-repeat right 0 bottom 0.02em/0.55em
      0.55em,
    url(../images/common/lp_element_2lb.svg) no-repeat left 0 bottom 0.02em/0.55em
      0.55em;
  &.is-copied {
    filter: brightness(1) invert(0);
  }
  @media (max-width: 767px) {
    border-width: 0px;
  }

  .copy-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    position: relative;
    width: 100%;
    background: url(../images/common/lp_element_1.svg) space no-repeat left
        top/auto 0.18em,
      url(../images/common/lp_element_1.svg) space no-repeat left bottom/auto
        0.18em;
    &:before {
      content: "";
      position: absolute;
      content: "";
      position: absolute;
      width: calc(100% + 1.2em);
      left: -0.6em;
      height: calc(100% - 1.24em);
      top: 0.605em;
      background: url(../images/common/lp_element_1.svg) no-repeat space left
          top/auto 0.18em,
        url(../images/common/lp_element_1.svg) no-repeat space right top/auto
          0.18em;
    }
  }
}
.btn--blue {
  background: var(--blue);
  color: #fff;
  &:hover {
    background: var(--dark-blue);
  }
  &:active {
    //@include background-opacity(var(--dark-blue), 0.6);
    background: rgba(0, 1, 128, 0.6);
  }
}
