@import "mixins";
@import "fonts";
@import "colors";
@import "form";
@import "general";
@import "claim-page";

:root {
  --black: #001b30;
  --orange: #ff7e37;
  --blue: #002fff;
  --dark-blue: #000180;
  font-family: Qanelas;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
